@model SmartStock.Models.Inventory
@{
    ViewBag.Title = "Initialize Inventory";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(FormMethod.Post))
{
<div class="section">

    @*<div class="item">
            <div>
                @Html.LabelFor(Model => Model.)
                @Html.TextBoxFor(Model => Model.strProductName)
            </div>
        </div>*@
    <div class="item">
        <div>
            @Html.TextBoxFor(model => model.Product_Name, new { @placeholder = "Item Name" })
        </div>
    </div>
    <div class="item">
        <div>
            @Html.TextBoxFor(model => model.Product_Desc, new { @placeholder = "Item Desc" })
        </div>
    </div>
    <div class="item">
        <td colspan="2">
            @Html.DropDownList("catagoryName", "Select a Catagory")
        </td>
    </div>
    <div class="item">
        <div>
            @Html.TextBoxFor(model => model.UnitsPerCase, new { @placeholder = "Units Per Case" })
        </div>
    </div>
    <div class="item">
        <div>
            @Html.TextBoxFor(model => model.Cases, new { @placeholder = "Case Quantity" })
        </div>
    </div>
    <div class="item">
        <td colspan="2">
            @Html.DropDownList("location", "Select a Location")
        </td>
    </div>
    <div class="item">
        <td colspan="2">
            @Html.DropDownList("statusName", "Select a Status")
        </td>
    </div>
    @*<div class="item">
            <td colspan="2">
                @Html.DropDownList("catagoryName", "Select a Catagory")
            </td>
        </div>*@
</div>
    <div>
        <button id="btnAddProduct" name="btnSubmit" value="addproduct" class="button-action"><i class="fas fa-user-plus"></i> Add-Product</button>
    </div>
}
