@model SmartStock.Models.Inventory
@*@model IEnumerable<SmartStock.Models.TInventory>*@

<style>
	table, th, td {
		border: 1px solid black;
	}

	.center-top {
		position: absolute;
		left: 50%;
		top: 10%;
		transform: translate(-50%, -50%);
		padding: 10px;
	}
</style>

@using (Html.BeginForm(FormMethod.Post)) {
	<div class="center-top">
		<h1 style="text-align: center;">Initialize Inventory</h1>
		<form action="initInventory">
			<table>
				<thead>
					<tr>
						<th>
							Product
						</th>
						<th>
							Catagory
						</th>
						<th>
							Location
						</th>
						<th>
							Amount
						</th>
						<th>
							Unit
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							@Html.TextBoxFor(model => model.ProductName, new { @placeholder = "Item Name" })
						</td>
						<td>
							@Html.DropDownList("catagoryName", "Select a Catagory")
						</td>
						<td>
							@Html.DropDownList("location", "Select a Location")
						</td>
						<td>
							@Html.TextBoxFor(model => model.InvCount, new { @placeholder = "Amount" })
						</td>
						<td>
							@Html.TextBoxFor(model => model.UnitType, new { @placeholder = "kg, lb, gal" })
						</td>
					</tr>
				</tbody>
			</table>
			<div style="text-align: right;">
				<button id="btnAddProduct" name="btnSubmit" value="addproduct" class="button-action"><i class="fas fa-user-plus"></i> Add-Product</button>
				<button id="btnAddProduct" name="btnFinishInit" value="finishinit" class="button-action"><<i class="fa-thin fa-angle-right"></i> Finish</button>
			</div>
		</form>
	</div>
}

