@{
	ViewBag.Title = "SignUp";
}
@model SmartStock.Models.User
<div class="center-up">
	<form action="InitializeInventory">
		<table>
			<tr>
				<td colspan="2" style="text-align: center;">
					<h1>Sign Up</h1>
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.First_Name, "First Name:")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.First_Name)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.Last_Name, "Last Name:")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.Last_Name)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.Email, "Email:")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.Email)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.Phone_Number, "Phone Number")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.Phone_Number)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.User_Name, "Username: ")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.User_Name)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.Password, "Password: ")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.Password)
				</td>
			</tr>
			<tr>
				<td class="table-label">
					@Html.LabelFor(Model => Model.Password, "Confirm Password: ")
				</td>
				<td colspan="2">
					@Html.TextBoxFor(Model => Model.Password)
				</td>
			</tr>

			@*This will allow the user to select from a role drop down, there will be owner, manager, and employee
			<tr>
				<td class="table-label">
					@Html.LabelFor("JobTitle", "Job Title")
				</td>
				<td colspan="2">
					@Html.DropDownList("JobTitle", "Select a Value")
				</td>
			</tr>
			*@

			<tr>
				<td colspan="2" style="text-align: center;">
					<input type="submit" value="Next" />
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<a href="HomePage">Back to Login</a>
				</td>
			</tr>
		</table>
	</form>
</div>