@model IEnumerable<SmartStock.Models.TInventory>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="center-up">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="delivery">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>
                        @Html.DisplayName("Product Name")
                    </th>
                    <th>
                        @Html.DisplayName("Price")
                    </th>
                    <th>
                        @Html.DisplayName("Quantity Bought")
                    </th>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strProductName)
                    </td>
                    <td>
                        @Html.TextBox("costPerUnit")
                    </td>
                    <td>
                        @Html.TextBox("quantity")
                    </td>
                </tr>
                }
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <button id="btnBack" name="btnCancel" value="back" class="button-action"><i class="fa-solid fa-arrow-left"></i> Back</button>
                            <button id="btnEditUser" name="btnSubmit" value="editSubmit" class="button-action"><i class="fa-solid fa-truck-ramp-box"></i> Submit </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    }