
@{
    ViewBag.Title = "EditSupplier";
}
@model SmartStock.Models.Supplier

<h1>EditSupplier</h1>

<!--In practice, this page will be preloaded with the information of the supplier the user selected.-->
<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_FirstName)
        @Html.TextBoxFor(Model => Model.Contact_FirstName)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_LastName)
        @Html.TextBoxFor(Model => Model.Contact_LastName)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_Address1)
        @Html.TextBoxFor(Model => Model.Contact_Address1)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_State)
        @Html.TextBoxFor(Model => Model.Contact_State)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_Zip)
        @Html.TextBoxFor(Model => Model.Contact_Zip)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_PhoneNumber)
        @Html.TextBoxFor(Model => Model.Contact_PhoneNumber)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Contact_Email)
        @Html.TextBoxFor(Model => Model.Contact_Email)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.URL)
        @Html.TextBoxFor(Model => Model.URL)
    </div>
</div>

<div class="item">
    <div>
        @Html.LabelFor(Model => Model.Notes)
        @Html.TextAreaFor(Model => Model.Notes)
    </div>
</div>

<form action="Suppliers">
    <input type="submit" value="Submit" />
</form>

<form action="Suppliers">
    <input type="submit" value="Cancel" />
</form>