@model IEnumerable<SmartStock.Models.TInventory>
@{
    ViewBag.Title = "Inventory";
}
<h2>@ViewBag.Title</h2>


<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayName("Product Name")
        </th>
        <th>
            @Html.DisplayName("Inventory Count")
        </th>
        <th>
            @Html.DisplayName("Unit Type")
        </th>
        <th>
            @Html.DisplayName("Is Low")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Stored Location")
        </th>
        <th>
            <form action="CreateItem">
                <input type="submit" value="+" />
            </form>
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.strProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.intInvCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.strUnitType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.blnIsLow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TCategory.strCategory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TProductLocation.strLocation)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditItem", new { InventoryID = item.intInventoryID })

        @Html.ActionLink("Delete", "DeleteItem", new { InventoryID = item.intInventoryID })
    </td>
</tr>
    }
</table>