@model IEnumerable<SmartStock.Models.TInventory>
@{
    ViewBag.Title = "Inventory";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.strProductName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.intInvCount)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strStatus)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.intCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.intProductLocationID)
        </th>
        <th>
            <form action="CreateItem">
                <input type="submit" value="+" />
            </form>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intInvCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intProductLocationID)
            </td>
            <td>
                <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }
</table>