@model IEnumerable<SmartStock.Models.TProductPriceHistory>
@{
    ViewBag.Title = "Purchase Log";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayName("Purchase Date")
        </th>
        <th>
            @Html.DisplayName("Product Name")
        </th>
        <th>
            @Html.DisplayName("Cost Per Unit")
        </th>
        <th>
            @Html.DisplayName("Purchase Amount")
        </th>
        <th>
            @Html.DisplayName("User")
        </th>
        <th>
            @Html.DisplayName("Supplier")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dtmPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monCostPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intPurchaseAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TUser.strFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSupplier.strCompanyName)
            </td>
        </tr>
    }
</table>

