@model IEnumerable<SmartStock.Models.TProductPriceHistory>
@{
    ViewBag.Title = "Purchase Log";
}
<style>
	th, td {
		vertical-align: middle;
	}

	table, td, th {
		border: 1px solid white;
		font-size: 14px;
	}

	table {
		width: 1000px;
		border-collapse: collapse;
	}

	.button-action-edit-delete {
		padding: 4px 12px;
		width: 100px;
		background-color: dimgray;
		color: white;
	}

	.button-action-edit-delete:hover {
		background-color: gray;
	}
</style>
<h2>@ViewBag.Title</h2>

<table>
	<colgroup>
		<col style="width: 11%;">
		<col style="width: 12%;">
		<col style="width: 10%;">
		<col style="width: 10%;">
		<col style="width: 7%;">
		<col style="width: 10%;">
	</colgroup>
	<thead>
		<tr>
			<th>
				Purchase Date
			</th>
			<th>
				Product Name
			</th>
			<th>
				Cost Per Unit
			</th>
			<th>
				Purchase Amount
			</th>
			<th>
				Received By
			</th>
			<th>
				Supplier
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.dtmPurchaseDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.strProductName)
				</td>
				<td>
					$@Html.DisplayFor(modelItem => item.monCostPerUnit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.intPurchaseAmt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TUser.strFirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TSupplier.strCompanyName)
				</td>
			</tr>
		}
	</tbody>
</table>

