@model IEnumerable<SmartStock.Models.TProductPriceHistory>
@{
    ViewBag.Title = "Purchase Log";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.dtmPurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strProductName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.monCostPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.intPurchaseAmt)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.TUser.strFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.TSupplier.strCompanyName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dtmPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monCostPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intPurchaseAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TUser.strFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSupplier.strCompanyName)
            </td>
        </tr>
    }
</table>

