@model IEnumerable<SmartStock.Models.TSupplier>
@{
    ViewBag.Title = "Suppliers";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayName("Company Name")
        </th>
        <th>
            @Html.DisplayName("Contact Name")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th>
            @Html.DisplayName("Website")
        </th>
        <th>
            @Html.DisplayName("Notes")
        </th>
        <th>
            <form action="CreateSupplier">
                <input type="submit" value="+"/>
            </form>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strContactFirstName)
                @Html.DisplayFor(modelItem => item.strContactLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strAddress1)
                @Html.DisplayFor(modelItem => item.strContactState)
                @Html.DisplayFor(modelItem => item.strZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strNotes)
            </td>
            <td>
                @Html.ActionLink(" ", "EditSupplier", new { Supplier_ID = item.intSupplierID }, new { @class = "fa-solid fa-pen" })
                &nbsp;
                @*Delete is dummied out for now. Replace "Suppliers" with "DeleteSupplier" when we're good.*@
                @Html.ActionLink(" ", "Suppliers", new { Supplier_ID = item.intSupplierID }, new { @class = "fa-solid fa-trash" })
            </td>
        </tr>
    }
</table>
