@model IEnumerable<SmartStock.Models.TSupplier>
@{
    ViewBag.Title = "Suppliers";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.strCompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strContactFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strContactLastName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strEmail)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strZip)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strURL)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strNotes)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strContactState)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strContactLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strContactState)
            </td>

        </tr>
    }
</table>
