
@model IEnumerable<SmartStock.Models.TUser>
@{
    ViewBag.Title = "Users";
}
<h2>@ViewBag.Title</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.strFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strLastName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strEmail)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.strUserName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.userPassword)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.intRoleID)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intRoleID)
            </td>

        </tr>
    }
</table>


